body{
    background:blanchedalmond;

}

#triangle div{
    width: 160px;
    height: 160px;
    box-shadow: 20px 10px 20px rgba(50,50,50,.2);
    mix-blend-mode: overlay；
    margin: 10px 10px 10px 800px; 
    float: left;
}

